<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/sliders.js"></script>
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="/static/js/up/jquery.js"></script>
<script type="text/javascript" src="/static/js/up/js.js"></script>
<!-- 返回顶部调用 end-->
</head>
<body>
    <div id="error-container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <img src="/static/images/404.jpg"></img>
            </div>
        </div>
    </div>
</body>
</html>
