{layout name="layout"}
<article>
  <div class="l_box f_l">
    <div class="banner">
      <div id="slide-holder">
        <div id="slide-runner"> <a href="/fg/index/detail?id={$info[0]['id']}" target="_blank"><img id="slide-img-1" src="{$Think.const.DS}uploads{$Think.const.DS}{$info[0]['image']}"  alt="" /></a> <a href="/fg/index/detail?id={$info[1]['id']}" target="_blank"><img id="slide-img-2" src="{$Think.const.DS}uploads{$Think.const.DS}{$info[1]['image']}"  alt="" /></a> <a href="/fg/index/detail?id={$info[2]['id']}" target="_blank"><img id="slide-img-3" src="{$Think.const.DS}uploads{$Think.const.DS}{$info[2]['image']}"  alt="" /></a> <a href="/fg/index/detail?id={$info[3]['id']}" target="_blank"><img id="slide-img-4" src="{$Think.const.DS}uploads{$Think.const.DS}{$info[3]['image']}"  alt="" /></a>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
	  if(!window.slider) {
		var slider={};
	}

	slider.data= [
    {
        "id":"slide-img-1", // 与slide-runner中的img标签id对应
        "client":"{$info[0]['title']}",
        "desc":"" //这里修改描述
    },
    {
        "id":"slide-img-2",
        "client":"{$info[1]['title']}",
        "desc":""
    },
    {
        "id":"slide-img-3",
        "client":"{$info[2]['title']}",
        "desc":""
    },
    {
        "id":"slide-img-4",
        "client":"{$info[3]['title']}",
        "desc":""
    }
	];

	  </script>
    </div>
    <!-- banner代码 结束 -->
    <div class="topnews">
      <h2><span><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a></span><b>文章</b>推荐</h2>
      {for start='0' end='7'}
      <div class="blogs">
        <figure><img src="{$Think.const.DS}uploads{$Think.const.DS}{$info[$i]['image']}"></figure>
        <ul>
          <h3><a href="/fg/index/detail?id={$info[$i]['id']}">{$info[$i]['title']}</a></h3>
          <p>{$info[$i]['content']|mb_substr=###,0,130}..</p>
          <p class="autor"><span class="lm f_l"><a href="/">{$info[$i]['tag']}</a></span><span class="dtime f_l">{$info[$i]['create_time']|date="Y-m-d",###}</span><span class="viewnum f_r">浏览（<a href="/">{$info[$i]['times']}</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
      {/for}
    </div>
  </div>
